extends ../shared/template

block content
  body(style='background-color: grey')
    .container-fluid.dashboard.top
      .col-md-4.col-sm-4.col-xs-4.star= toUser.stars
      .col-md-4.col-sm-4.col-xs-4
        .dashpic(style='background-image:url(#{toUser.photo})')
          a(href='/meet/#{toUser._id}') View Profile
      .col-md-4.col-sm-4.col-xs-4
        .status1 Social Status:
        if(toUser.stars < 16)
          .status2 Wallflower
        if(toUser.stars > 15)
          .status2 Coming out of your shell
        if(toUser.stars > 30)
          .status2 Neighbourly
        if(toUser.stars > 45)
          .status2 Social Butterfly
        if(toUser.stars > 60)
          .status2 Socialite
        if(toUser.stars > 100)
          .status2 Life of the Party
    .container-fluid.readmsg
      .topholder
        .fromUser From: #{fromUser.name}
        .toUser To: #{toUser.name}
        .date Sent Date: #{moment(message.date).format('MM/DD/YYYY')}
        .subject Subject: #{message.subject}
      .bottomholder
        .msgbody= message.body
        .msgreply
          a(href='/reply/#{fromUser._id}') Reply
