extends ../shared/template

block content
  body(style='background-color: #808080')
    .container-fluid.dashboard.top
      .col-md-4.col-sm-12.col-xs-12.star= user.stars
      .col-md-4.col-sm-6.col-xs-12
        .dashpic(style='background-image:url(#{user.photo})')
          a(href='/meet/#{user._id}') View Profile
      .col-md-4.col-sm-6.col-xs-12
        .status1 Social Status:
        if(user.stars < 16)
          .status2 Wallflower
        else if(user.stars > 15 && user.stars < 31)
          .status2 Coming out of your shell
        else if(user.stars > 30 && user.stars < 46)
          .status2 Neighbourly
        else if(user.stars > 45 && user.stars < 61)
          .status2 Social Butterfly
        else if(user.stars > 60 && user.stars < 101)
          .status2 Socialite
        else
          .status2 Life of the Party
    .container-fluid.dashboard.bottom
      .col-md-4.col-sm-6.col-xs-12
        .board
          h1 Message Board

          .morph-button.morph-button-modal.morph-button-modal-2.morph-button-fixed.specialpost
            button.writepost(type='button') Post
            .morph-content
              div
                .content-style-form.content-style-form-1.postform
                  span.icon.icon-close Close
                  h2 New Post
                  h5= moment().format('MM/DD/YYYY')
                  form(action='/post', method='post')
                    input(name='subject', type='text', autofocus=true, placeholder='Subject Here', required)
                    textarea(name='body', type='text', placeholder='Content Here', required)
                    label Select Post Type:
                    select.styleselect(name='type')
                      option(value='urgent') Urgent
                      option(value='event') Event
                      option(value='update') Update
                      option(value='general') General
                    button#post Post to Message Board
          .allposts
            if(posts)
              each post in posts
                .onepost
                  if(post.klass === 'urgent')
                    .type Urgent
                  if(post.klass === 'event')
                    .type Event
                  if(post.klass === 'update')
                    .type Update
                  if(post.klass === 'general')
                    .type General
                  .morph-button.morph-button-modal.morph-button-modal-2.morph-button-fixed
                    button(type='button')= post.subject
                    .morph-content
                      div
                        .content-style-form.content-style-form-1
                          span.icon.icon-close Close
                          h2= post.subject
                          h3= post.body
                          if(post.type === 'event')
                            h5 Attendees:
                              div
                                each reply in post.rsvp
                                  p #{reply.name}
                            if(post.rsvp.length)
                              //- each reply in post.rsvp
                                if(reply.id.toString() in post.rsvp !== user._id.toString())
                                  h5 RSVP:
                                  form(action='/rsvp/#{post._id}', method='post')
                                    button(name='attend', value='yes') Attending
                                    button(name='attend', value='no') !Attending
                            else
                              h5 RSVP:
                              form(action='/rsvp/#{post._id}', method='post')
                                button(name='attend', value='yes') Attending
                                button(name='attend', value='no') !Attending
                          if(post.comments)
                            each comment in post.comments
                              h6 #{comment.name}'s says:
                              h6.comment= comment.content
                          form(action='/comment/#{post._id}', method='post')
                            input(name='content', type='text', placeholder='Add a comment')
                            button.addcomment Add
      .col-md-4.col-sm-6.col-xs-12
        .street
          nav.linkeffect
            a(href='/neighbors', data-hover='neighbors') Meet Your Street!
        .info
          button.specialbtn
            a(href='/neighborhood') Neighborhood Info
      .col-md-4.col-sm-6.col-xs-12
        //- img.blur(src='../img/flowers.png')
        .msgs
          h1 Personal Messages
          if(messages)
            each message in messages
              .message
                a(href='/show/#{message._id}', class=message.klass) #{moment(message.sentDate).format('MM/DD/YYYY')} : #{message.subject}

block scripts
  script(src='/js/vendor/classie.js')
  script(src='/js/vendor/modernizr.custom.js')
  script(src='/js/vendor/uiMorphingButton_fixed.js')
  script.
    var docElem = window.document.documentElement, didScroll, scrollPosition;
    // trick to prevent scrolling when opening/closing button
    function noScrollFn() {
      window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
    }

    function noScroll() {
      window.removeEventListener( 'scroll', scrollHandler );
      window.addEventListener( 'scroll', noScrollFn );
    }

    function scrollFn() {
      window.addEventListener( 'scroll', scrollHandler );
    }

    function canScroll() {
      window.removeEventListener( 'scroll', noScrollFn );
      scrollFn();
    }

    function scrollHandler() {
      if( !didScroll ) {
        didScroll = true;
        setTimeout( function() { scrollPage(); }, 60 );
      }
    };

    function scrollPage() {
      scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
      didScroll = false;
    };

    scrollFn();

    [].slice.call(document.querySelectorAll('.morph-button')).forEach( function(bttn){
      new UIMorphingButton( bttn, {
        closeEl : '.icon-close',
        onBeforeOpen : function() {
          // don't allow to scroll
          noScroll();
        },
        onAfterOpen : function() {
          // can scroll again
          canScroll();
          },
        onBeforeClose : function() {
          // don't allow to scroll
          noScroll();
        },
        onAfterClose : function() {
          // can scroll again
          canScroll();
        }
      });
    });
