extends ../shared/template

block content
  body(style='background-color: #808080')
    h1.meet Meet Your Neighbors!
    if(neighbors)
      .neighbors
        each neighbor in neighbors
          if(neighbor._id.toString() !== user._id.toString())
            .hexagon
              .hex-in1
                .hex-in2(style='background-image:url(#{neighbor.photo})')
                  a(href='/meet/#{neighbor._id}')
            h4= neighbor.name
    #map

block scripts
  script.
    var user = !{JSON.stringify(user)}
  script.
    var neighbors = !{JSON.stringify(neighbors)}
  script(src='/js/es6/compiled/map.js')
