extends ../shared/template

block content
  body(style='background-color: #afaa9c')
    .container-fluid.dashboard.top
      .col-md-4.col-sm-12.col-xs-12.star= user2.stars
      .col-md-4.col-sm-6.col-xs-12
        .dashpic(style='background-image:url(#{user2.photo})')
          a(href='/message/#{user2._id}') Send Message
      .col-md-4.col-sm-6.col-xs-12
        .status1 Social Status:
        if(user.stars < 16)
          .status2 Wallflower
        else if(user.stars > 15 && user.stars < 31)
          .status2 Coming out of your shell
        else if(user.stars > 30 && user.stars < 46)
          .status2 Neighbourly
        else if(user.stars > 45 && user.stars < 61)
          .status2 Social Butterfly
        else if(user.stars > 60 && user.stars < 101)
          .status2 Socialite
        else
          .status2 Life of the Party
    .container-fluid
      .col-md-4.col-sm-6.col-xs-10
        #family
          .infohead Family
          .showspouse
            h5 Spouse:
            if(user2.spouse.type === '')
              p NA
            else
              p #{user2.spouse.type} : #{user2.spouse.name}
          .showkids
            h5 Children:
            each kid in user2.kids
              if(kid.type === '')
                p NA
              else
                p #{kid.type} : #{kid.name}
        #pets
          .infohead Pets
          .showpets
            each pet in user2.pets
              if(pet.type === '')
                p NA
              else
                p #{pet.type} : #{pet.name}
      .col-md-4.col-sm-6.col-xs-10
        #house
      .col-md-4.col-sm-6.col-xs-10
        #about
          .infohead About
          .showabout= user2.about
        #profmsg
          nav.linkeffect
            a(href='/message/#{user2._id}', data-hover='neighbors') Send A Message


block scripts
  script.
    var user = !{JSON.stringify(user2)}
  script(src='/js/es6/compiled/house.js')
